URxvt*transparent: true
URxvt*scrollBar: false
URxvt*tintColor: #222222
URxvt*fading: 30
URxvt*cursorBlink: true
URxvt*foreground: White
URxvt*background: Black
URxvt*font: xft:DejaVu Sans Mono:size=10
URxvt*saveLines: 1024
URxvt*perl-ext-common: default,clipboard
URxvt.keysym.C-p: perl:clipboard:paste
URxvt.keysym.C-y: perl:clipboard:copy
